
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}


form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


label {
    display: block;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
input[readonly] {
    background-color: #e9e9e9;
}
button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.senha {
    position: relative;
    display: inline-block;
    width: 100%;
}

.imgOlho {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.inputSenha {
    width: 100%; 
    padding-right: 40px;
}